.display-column-mobile {
    display: flex;
    flex-direction: column;
}

.display-row-mobile {
    display: flex;
    flex-direction: row;
}

/* index page  */

.logoWithText img {
    width: 77.22px;
    height: 20px;
    margin: 5px 0px;
}

.logoWithText p {
    font-size: 25px;
    line-height: 29px;
    margin: 5px 0px;
}

.headerImage img {
    width: 25vw;
    min-width: 130px;

}

.flex_display_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 1.5vw;
}

.form-group-empty {
    display: none;
}

.form-group {
    width: 90%;
    margin: auto;
}

.header_two_number_heading {
    font-size: 11px;
    border-radius: 6px;
}

.header_two_number_heading_border_1 {
    border-bottom: 4px solid #167AEF;
    z-index: 3;
}

.header_two_number_heading_border_1 a {
    color: #167AEF;
    padding: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.number_heading {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.header_two_number_heading_border_2 a {
    color: #000;
    padding: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.Merchant_Details_Heading {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 28px
}

.border {
    width: 90%;
    margin: auto;
}

/* service page  */

.check_okay_img {
    width: 15px !important;
}

.flex_display_4 {
    display: flex;
    flex-direction: column;
}

.table_servise_select_desktop {
    display: none;
}

.table_servise_select_mobile {
    display: block;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Filll_fees_details_para {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}
.Filll_fees_details_para td {
   padding: 0px !important;
   padding-left: 12px !important;
   
}
.Filll_fees_details_para_details{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 17px;
    color: #80889D;
    margin-bottom: 7px;
}
.model_heading_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 2px;
}


/* final download page */
.fill_complete_download p{
    font-weight: 500;
    font-size: 25px;
    line-height: 44px;
    color: #167AEF;
    margin-top: 15px;
}
.downloag_pdf_div p{
    margin-bottom: 20px !important;
}
.downloag_form_txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0px;
}
.go_back {
    font-size: 10px;
    margin-top: 20px;
}